<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        h1 {
            color: black;
        }
    </style>
    <style>
        p {
            color: green;
        }
    </style>
</head>
<body>
<a href="{% url 'pages:home' %}">Home</a>
<h1>🌺🌺🌺My Hobbies🌺🌺🌺</h1>
<p>I have a lot of hobbies. Here I am going to list some of them:</p>
<p>📚In my free time, I love <strong>reading books</strong>, especially religious ones.</p>
<p>✅I also enjoy learning the <strong>Arabic language</strong> and teaching it.</p>
<p>💻<strong>Coding</strong> is becoming my hobby day by day.</p>
</body>
</html>