<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        h1 {
            color: red;
        }
    </style>
    <style>
        p {
            color: black;
        }
    </style>
</head>
<body>
<a href="{% url 'pages:hobbies' %}">My hobbies</a>
<a href="{% url 'pages:teachers' %}">My teachers</a>
<h1>🥳Welcome to Mahina's page!</h1>
    <p>Here you can find all about Mahina's hobbies and teachers</p>
</body>
</html>