<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        h1 {
            color: blue;
        }
    </style>
</head>
<body>
    <a href="{% url 'pages:home' %}">Home</a>
    <h1>My teachers</h1>
<p>I cannot imagine my life without my teachers. Here are some of them that are teaching me until now: </p>
<p>🔸My teacher from IT, specifically, from Python is <strong>Sanjarbek Tursunov</strong></p>
    <p>He is professional of his job and also a person with a sense of humor</p>
    <p>He has a good experience in coding as well as teaching</p>
<p>🔸My teacher from Arabic language is <strong>Muhammad Muydinov</strong></p>
<p>Knowing him as a real muslim, I really admire him </p>
<p>Recently, he achieved <strong>C2</strong> level certificate
    from Attanal al Arobi that is recognized over the world
</p>
<p>🔸My teacher from English is <strong>Khafizulloh Ahmad</strong></p>
<p>He is intelligent and thoughtful person</p>
<p>As far as I know, he has got band score 8 from IELTS </p>
</body>
</html>