<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home page</title>
    <style>
        h1 {
            color: magenta;
        }
    </style>
    <style>
        p {
            color: black;
        }
    </style>
</head>
<body>
<a href="{% url 'pages:about' %}">about</a>
<a href="{% url 'pages:contacts' %}">contacts</a>
<h1>🥳Welcome to Mahina's contacts web page!</h1>
    <p>Here you can find about Mahina and her contacts</p>
</body>
</html>